body {
    background-image: url("c:/RPS-Multiplayer/assets/images/bgimg.jpg")
}

.page-header {
    text-align: center;
    background-color: rgb(177, 206, 150);
    color: black;
    padding: 10px;
}

#outcome{
    background-color: tan;
    width: 150px;
    height: 120px;
}

.yourTurn {
    background-color: rgb(177, 210, 193);
}

#p1name, #p2name {
    font-weight: bold;
}

button {
    width: 100%;
}

.btn-primary {
    height: 60px;
}

.jumbotron p {
    font-size: 12px;
    margin-bottom: 0px;
}

.p1color {
    color: #b03138;
}

.p2color {
    color: #084596;
}

#main-boxes {
    padding-left: 20%;
}